<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0" />
    <title>{{ title }}</title>
    <meta name="description" content="API client-server library for TypeScript projects"/>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    <link href="/materialize-css/css/materialize.min.css" type="text/css" rel="stylesheet" />
    <link href="/style.css" type="text/css" rel="stylesheet" />
    <link href="/highlight.js/styles/github.css" type="text/css" rel="stylesheet" />
</head>

<body>
    <nav class="light-blue lighten-1" role="navigation">
        <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">TypedAPI <small>(beta)</small></a>
            <ul class="right hide-on-med-and-down">
                <li{% if mainTab === "main" %} class="active"{% endif %}><a href="/">Main</a></li>
                <li{% if mainTab === "get-started" %} class="active"{% endif %}><a href="/getting-started">Get started</a></li>
                <li{% if mainTab === "docs" %} class="active"{% endif %}><a href="/docs">Docs</a></li>                
            </ul>

            <ul id="nav-mobile" class="sidenav">
                <li{% if mainTab === "main" %} class="active"{% endif %}><a href="/">Main</a></li>
                <li{% if mainTab === "get-started" %} class="active"{% endif %}><a href="/getting-started">Get started</a></li>
                <li{% if mainTab === "docs" %} class="active"{% endif %}><a href="/docs">Docs</a></li>                
            </ul>
            <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        </div>
    </nav>

    {% block content %}{% endblock %}

    <footer class="page-footer light-blue lighten-1">
        <div class="container">
            <div class="row">
                <div class="col l6 s12">
                    <h5 class="white-text">Feedback</h5>
                    <p class="grey-text text-lighten-4">
                        For questions or proposals you can send mail to <a class="white-text" href="mail@typedapi.com"><u>mail@typedapi.com</u></a> or
                        open <a class="white-text" href="https://github.com/typedapi/typedapi/issues"><u>Issue on GitHub</u></a>.
                    </p>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Explore</h5>
                    <ul>
                        <li><a class="white-text" href="/">Main</a></li>
                        <li><a class="white-text" href="/getting-started">Get started</a></li>
                        <li><a class="white-text" href="/docs">Docs</a></li>                        
                    </ul>
                </div>
                <div class="col l3 s12">
                    <h5 class="white-text">Contribute</h5>
                    <ul>
                        <li><a class="white-text" href="https://github.com/typedapi/typedapi">View GitHub</a></li>
                        <li><a class="white-text" href="https://github.com/typedapi/typedapi/issues">Submit bug</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer-copyright">
            <div class="container">
                TypedAPI licensed under <a class="white-text" href="https://github.com/typedapi/typedapi/blob/master/LICENSE.txt"><u>MIT</u></a> license
            </div>
        </div>
    </footer>


    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="/materialize-css/js/materialize.min.js"></script>
    <script src="/script.js"></script>

</body>

</html>